/* Variables */
:root {
    --primary-color: #5faee3; /* Sky Blue */
    --secondary-color: #2c3e50; /* Navy Blue */
    --background-color: #f4f4f4; /* Light Gray */
    --text-color: #333;        /* Dark Gray */
    --accent-color: #e74c3c;    /* Red */
}

/* Profile Picture Styling */
.profile-pic {
    width: 225px; /* Adjust the size as needed */
    height: 225px;
    border-radius: 50%; /* Make it circular */
    margin-bottom: 20px; /* Add spacing below the image */
    object-fit: cover; /* Ensure the image fills the circle */
    display: block; /* Ensure proper margins */
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .profile-pic {
        width: 120px;
        height: 120px;
    }
}

/* Global Styles */
body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--secondary-color);
    margin: 20;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 auto;
	margin-top: 0; /* Spacing above the heading */
    margin-bottom: 15px;

}

/* Typography */
h1, h2 {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
	margin-left: 0 auto;
    margin-bottom: 15px;
    color: var(--secondary-color); /* Navy Blue for headings */
}

h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
    color: white; /* Navy Blue for headings */
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }

h2 {
    font-family: 'Lato', sans-serif;
    margin-top: 0; /* Spacing above the heading */
    margin-left: 20px; /* Added some left margin to avoid it being too close to the edge */
    margin-right: 20px; /* Added right margin for symmetry */
    margin-bottom: 5px;
    color: var(--secondary-color); /* Navy Blue for headings */
    text-align: center; /* Center-align the heading */
}

p {
    margin-bottom: 10px;
    margin-top: 0;
}

a {
    color: white; /* Sky Blue for links */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #217dbb; /* Darker shade of primary color on hover */
}

/* Header */
header {
    background-color: var(--secondary-color); /* Navy Blue for header background */
    color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

header nav {
    margin-top: 0;
}

header nav a {
    color: white;
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
}

header nav a:hover {
    color: var(--primary-color); /* Sky Blue on hover */
}

/* Sections */
section {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

/* Projects */
.project {
	background-color: var(--secondary-color);
	color : white;
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project h3 {
    color: white; /* Sky Blue for project headings */
    margin-top: 0;
    margin-bottom: 10px;
	text-align: center;
}
/* Projects Section Styling */

.projects-section h2 {
    font-size: 1.5em;
	margin-top: 0px;
	padding: 0px;
    margin-bottom: 0px;
}

/* Tab Styling */
.tabs {
    display: flex;
	padding: 5px;
    margin: 0px auto;
    align-items: center;
}
.tab-content h3 {
    color: var(--secondary-color); /* Sky Blue for project headings */
    margin-top: 0;
	margin-left: 20px;
    margin-bottom: 10px;
}

.tab-button {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: var(--secondary-color);
	color : white;
    cursor: pointer;
	border-radius: 5px;
	margin-right: 10px;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: var(--secondary-color);
	color : var(--primary-color);
	font-weight: bold;
}

.tab-button.active {
	background-color: var(--secondary-color);
    color: white;
	font-weight: bold;
}

/* Tab Content Styling */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* About Me */
.about-me {
	background-color: var(--secondary-color);
	color : white;
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.about-me:hover {
    transform: translateY(-5px);
}

.about-me h3 {
    color: white; /* Sky Blue for about-me headings */
    margin-top: 0;
    margin-bottom: 10px;
	text-align: center;
}

/* Experience */
.experience {
	background-color: var(--secondary-color);
	color : white;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.experience h3 {
	
    color: white; /* White for experience headings */
    margin-top: 0;
    margin-bottom: 10px;
}
.experience h4 {
	
    color: white; /* White for experience headings */
    margin-top: 0;
    margin-bottom: 10px;
}

.experience p {
    font-style: italic;
    color: white;
    margin-top: 0;
}

.experience ul {
    padding-left: 25px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;

}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px; /* Adjusts space between image and text */
}

.profile-pic {
    width: 220px; /* Adjust size as needed */
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

.welcome-text {
    font-size: 1.75em;
    font-weight: bold;
    color: white ;
}

.bio-container {
    max-width: 1000px;
    text-align: left;
    margin-top: 20px;
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
	border: 1px solid white; /* Added border */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Contact */
.contact-info {
    background-color: var(--secondary-color); /* Navy Blue for contact info */
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.contact-info a {
    color: var(--accent-color); /* Red for contact info links */
}

/* index */
.hero {
    background-color: var(--secondary-color); /* Navy Blue for contact info */
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.hero h4 {
text-align: center;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: var(--secondary-color); /* Navy Blue for footer */
    color: white;
    margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        font-size: 1.5em;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav a {
        margin: 5px 0;
    }

    .project, .experience, .about-me {
        padding: 15px;
    }
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-in;
}
