<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
   
</head>
<body>
    {% include header.html %}
    <div class="container">
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
    </div>

    <script>
        function showTab(tabId) {
            // Hide all tab content
            var tabContents = document.getElementsByClassName("tab-content");
            for (var i = 0; i < tabContents.length; i++) {
                tabContents[i].style.display = "none";
            }

            // Remove 'active' class from all tab buttons
            var tabButtons = document.getElementsByClassName("tab-button");
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].className = tabButtons[i].className.replace(" active", "");
            }

            // Show the selected tab content
            document.getElementById(tabId).style.display = "block";

            // Add 'active' class to the clicked tab button
            event.currentTarget.className += " active";
        }

        // Show the first tab by default when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            var firstTabButton = document.querySelector('.tab-button');
            if (firstTabButton) {
                firstTabButton.click();
            }

            // Smooth scrolling
            const navLinks = document.querySelectorAll('header nav a[href^="#"]');
            navLinks.forEach(link => {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    const targetId = this.getAttribute('href');
                    const targetElement = document.querySelector(targetId);

                    if (targetElement) {
                        window.scrollTo({
                            top: targetElement.offsetTop - 50, // Adjust offset as needed
                            behavior: 'smooth'
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>
